
<button mat-flat-button routerLink="admin" >Admin</button>
<button mat-flat-button routerLink="user/shop" >User</button>
<button mat-flat-button (click)="logout()" >LogOut</button>
<mat-card>
  <body>
  <mat-card-header>

    <mat-card-title style="text-align: center;" ><h1><span>"NUOVI</span><span>ARRIVI"</span></h1></mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
</body>
</mat-card>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile >{{prodotti[0].nome}} <span><button> vai allo shop-></button></span></mat-grid-tile>
  <mat-grid-tile >{{prodotti[1].nome}}</mat-grid-tile>
  <mat-grid-tile >{{prodotti[2].nome}}</mat-grid-tile>
  <mat-grid-tile >{{prodotti[3].nome}}</mat-grid-tile>
</mat-grid-list>
