

<mat-toolbar  color="primary">
  <div class="example-flex-container">
  <div class="example-button-container">
  <button mat-fab color="warn" aria-label="Example home icon" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
</div>
</div>
<body class="mat-typography" md-display><span><h2 >CalabrianShop / Admin Console</h2></span></body>
  <span class="example-spacer"></span>
  <button class="btn effect01" target="_blank" (click)= "goToUser()">
    Utenti
  </button>
<span class="spazio"></span>
  <button class="btn effect01" target="_blank"  (click)= "goToProd()">
 Prodotti
  </button>
  <span class="spazio"></span>
  <button class="btn effect01" target="_blank" (click)="logout()" >
   LogOut
     </button>
</mat-toolbar>

