
<app-admin></app-admin>

<h2>Modifica prodotto</h2><h4>(campi obbligatori *)</h4>
<mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Id* (inserisci id prodotto da modificare)
  </mat-label>
    <input matInput type="number" formControlName="id"  placeholder="Id">
</mat-form-field>
<br/>
<mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Nome
  </mat-label>
    <input matInput type="text" formControlName="nome"  placeholder="Nome">
</mat-form-field>
<br/>
<mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Immagine
  </mat-label>
    <input matInput type="text" formControlName="immagine"  placeholder="inserisci URL">
</mat-form-field>
  <br/>
  <mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Categoria
  </mat-label>
    <input matInput type="text" formControlName="categoria" >
</mat-form-field>
  <br/>
  <mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Quantita
  </mat-label>
    <input matInput type="number" formControlName="quantita">
</mat-form-field>
  <br/>
  <mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
    Prezzo
  </mat-label>
    <input matInput type="text" formControlName="prezzo">
</mat-form-field>
  <br/>
  <mat-form-field [formGroup]="prodottoForm" appearance="fill">
  <mat-label>
   Venditore
  </mat-label>
    <input matInput type="text" formControlName="venditore">
</mat-form-field>
<br/>
<mat-form-field [formGroup]="prodottoForm" appearance="fill">
<mat-label>
 Descrizione
</mat-label>
  <textarea matInput formControlName="descrizione"></textarea>
</mat-form-field>
<br/>
<button mat-flat-button (click)='updateProd()' [disabled]="!prodottoForm.valid">Modifica</button>
